 /* Estilos base */
 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover; /* Garante que o vídeo cubra todo o espaço */
}

/* Estilos para telas pequenas de PC */
@media only screen and (max-width: 1024px) {
  #background-video {
    object-fit: contain; /* Altera para "contain" em telas menores de PC */
  }
}

/* Estilos para iPhones */
@media only screen and (max-width: 375px) {
  #background-video {
    object-fit: cover; /* Mantém "cover" em iPhones */
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: mshiny 1.1s infinite alternate;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.questions-container .answer {
  animation: shine 1.1s infinite alternate;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.answer {
  transition: background-color 0.2s ease-in-out;
}

.answer.correct {
  animation: highlight-correct 0.1s ease-in-out;
}

.answer.incorrect {
  animation: highlight-incorrect 0.5s ease-in-out;
}

@keyframes shine {
  0% { filter: brightness(1.5); }
  100% { filter: brightness(1); }
}

@keyframes highlight-correct {
  0% { background-color: var(--background-color); color: var(--background-color); }
  100% { background-color: #049b48; color: #fff; }
}

@keyframes highlight-incorrect {
  0% { background-color: var(--background-color); color: var(--background-color); }
  100% { background-color: #a10101; color: #fff; }
}

@keyframes mshiny {
  0% { filter: brightness(1); }
  100% { filter: brightness(0.5); }
}

body {
  background-color: #ffffff;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'fonteGeral', sans-serif;
}


.container {
  background-color: rgba(18, 18, 20, 0.7);
  width: 90%;
  max-width: 800px;
  border: 2px solid #e1e1e6;
  border-radius: 7px;
  padding: 16px;
  box-shadow: 0 0 2px 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questions-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.question {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.answers-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.answer:disabled {
  cursor: not-allowed;
}

.next-question {
  margin-top: 32px;
}

.button {
  background-color: #4863f7;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  border-radius: 6px;
  height: 48px;
  padding: 0 32px;
  transition: filter 0.1s;
}

.button:not(:disabled):hover {
  filter: brightness(0.8);
}

.final-message {
  font-size: 20px;
  text-align: center;
}

.final-message span {
  display: block;
  margin-top: 8px;
}

.hide {
  display: none;
}

.correct {
  background-color: #049b48;
}

.incorrect {
  background-color: #a10101;
}

/* Media Queries */

/* Estilos para telas pequenas (celulares) */
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 8px;
    border-radius: 0;
    border: none;
    box-shadow: none;
  }

  .question {
    font-size: 24px;
  }

  .answers-container {
    grid-template-columns: 1fr;
  }
}

 

  